<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chengzhx76.service.order.dao.CountryDaoMapper">
  <sql id="tableName">country</sql>
  <sql id="columns">
    c.id,c.name,
    c.remarks,c.create_date,c.update_date,c.status
  </sql>
  <sql id="insertColumns">
    id,name,
    remarks,create_date,update_date,status
  </sql>
  <sql id="countryIf">
    <if test="id != null and id != ''">id=#{id},</if>
    <if test="name != null and name != ''">name=#{name},</if>
    <if test="remarks != null and remarks != ''">remarks=#{remarks},</if>
    <if test="createDate != null">create_date=#{createDate},</if>
    <if test="updateDate != null">update_date=#{updateDate},</if>
    <if test="status != null">status=#{status}</if>
  </sql>
  <sql id="countrySelector">
    select
      <include refid="columns"/>
    from
      <include refid="tableName"/>
    AS c
  </sql>

  <sql id="countryWhere">
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <choose>
        <when test="status != null">
          AND status = #{status}
        </when>
        <otherwise>
          AND status != 'DELETE'
        </otherwise>
      </choose>
    </where>
  </sql>

  <sql id="countryUpdate">
    <trim prefix="SET" suffixOverrides=",">
      <include refid="countryIf"/>
    </trim>
  </sql>

<!-- =================================================================== -->

  <select id="load" parameterType="country" resultType="country">
    <include refid="countrySelector"/>
    <include refid="countryWhere"/>
  </select>

  <!-- 获取全部 -->
  <select id="loadAll" resultType="country">
    <include refid="countrySelector"/>
    <include refid="countryWhere"/>
  </select>

  <!-- 更新 -->
  <update id="update" parameterType="country">
    UPDATE <include refid="tableName"/>
    <include refid="countryUpdate"/>
    <include refid="countryWhere"/>
  </update>
  <!-- 插入 -->
  <insert id="save" parameterType="country">
    INSERT INTO
    <include refid="tableName"/>
    (
    <include refid="insertColumns"/>
    )
    VALUES
    (
    #{id},#{name},
    #{remarks},#{createDate},#{updateDate},#{status}
    )
  </insert>

</mapper>

