<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chengzhx76.service.order.dao.ReturnReasonDaoMapper">
  <sql id="tableName">return_reason</sql>
  <sql id="columns">
    a.id,a.name,
    a.remarks,a.create_date,a.update_date,a.status
  </sql>
  <sql id="insertColumns">
    id,name,
    remarks,create_date,update_date,status
  </sql>
  <sql id="returnReasonIf">
    <if test="id != null and id != ''">id=#{id},</if>
    <if test="name != null and name != ''">name=#{name},</if>
    <if test="remarks != null and remarks != ''">remarks=#{remarks},</if>
    <if test="createDate != null and createDate != ''">create_date=#{createDate},</if>
    <if test="updateDate != null and updateDate != ''">update_date=#{updateDate},</if>
    <if test="status != null and status != ''">status=#{status}</if>
  </sql>
  <sql id="returnReasonSelector">
    select
      <include refid="columns"/>
    from
      <include refid="tableName"/> AS a
  </sql>

  <sql id="returnReasonWhere">
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <choose>
        <when test="status != null and status !=''">
          AND status = #{status}
        </when>
        <otherwise>
          AND status != 'DELETE'
        </otherwise>
      </choose>
    </where>
  </sql>

  <sql id="returnReasonUpdate">
    <trim prefix="SET" suffixOverrides=",">
      <include refid="returnReasonIf"/>
    </trim>
  </sql>

<!-- =================================================================== -->

  <select id="load" parameterType="ReturnReason" resultType="ReturnReason">
    <include refid="returnReasonSelector"/>
    <include refid="returnReasonWhere"/>
  </select>

  <!-- 获取全部 -->
  <select id="loadAll" resultType="ReturnReason">
    <include refid="returnReasonSelector"/>
    <include refid="returnReasonWhere"/>
  </select>

  <!-- 更新 -->
  <update id="update" parameterType="ReturnReason">
    UPDATE <include refid="tableName"/>
    <include refid="returnReasonUpdate"/>
    <include refid="returnReasonWhere"/>
  </update>
  <!-- 插入 -->
  <insert id="save" parameterType="ReturnReason">
    INSERT INTO
    <include refid="tableName"/>
    (
    <include refid="insertColumns"/>
    )
    VALUES
    (
    #{id},#{name},
    #{remarks},#{createDate},#{updateDate},#{status}
    )
  </insert>

</mapper>

