<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chengzhx76.service.system.dao.NoticeDaoMapper">
  <sql id="tableName">notice</sql>
  <sql id="columns">
    n.id,n.title,n.content,n.link_url,
    n.remarks,n.create_date,n.update_date,n.status
  </sql>
  <sql id="insertColumns">
    id,title,content,link_url,remarks,create_date,update_date,status
  </sql>
  <sql id="noticeIf">
    <if test="id != null and id != ''">id=#{id},</if>
    <if test="title != null and title != ''">title=#{title},</if>
    <if test="linkUrl != null and linkUrl != ''">link_url=#{linkUrl},</if>
    <if test="remarks != null and remarks != ''">remarks=#{remarks},</if>
    <if test="createDate != null and createDate != ''">create_date=#{createDate},</if>
    <if test="updateDate != null and updateDate != ''">update_date=#{updateDate},</if>
    <if test="status != null and status != ''">status=#{status}</if>
  </sql>
  <sql id="noticeSelector">
    select
      <include refid="columns"/>
    from
      <include refid="tableName"/> AS n
  </sql>

  <sql id="noticeWhere">
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <choose>
        <when test="status != null and status !=''">
          AND status = #{status}
        </when>
        <otherwise>
          AND status != 'DELETE'
        </otherwise>
      </choose>
    </where>
  </sql>

  <sql id="noticeUpdate">
    <trim prefix="SET" suffixOverrides=",">
      <include refid="noticeIf"/>
    </trim>
  </sql>

<!-- =================================================================== -->

  <!-- 根据ID获取图片 -->
  <select id="load" parameterType="Notice" resultType="Notice">
    <include refid="noticeSelector"/>
    <include refid="noticeWhere"/>
  </select>
  <!-- 获取全部图片信息 -->
  <select id="loadAll" resultType="Notice">
    <include refid="noticeSelector"/>
    <include refid="noticeWhere"/>
  </select>

  <!-- 更新 -->
  <update id="update" parameterType="Notice">
    UPDATE <include refid="tableName"/>
    <include refid="noticeUpdate"/>
    <include refid="noticeWhere"/>
  </update>
  <!-- 插入 -->
  <insert id="save" parameterType="Notice">
    INSERT INTO
    <include refid="tableName"/>
    (
    <include refid="insertColumns"/>
    )
    VALUES
    <include refid="noticeIf"/>
  </insert>

</mapper>

