<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chengzhx76.service.user.dao.ProvinceDaoMapper">
  <sql id="tableName">province</sql>
  <sql id="columns">
    b.id,b.nanme
    b.remarks,b.create_date,b.update_date,b.status
  </sql>
  <sql id="insertColumns">
    id,name,
    remarks,create_date,update_date,status
  </sql>
  <sql id="provinceIf">
    <if test="id != null and id != ''">id=#{id},</if>
    <if test="name != null and name != ''">name=#{name},</if>

    <if test="remarks != null and remarks != ''">remarks=#{remarks},</if>
    <if test="createDate != null and createDate != ''">create_date=#{createDate},</if>
    <if test="updateDate != null and updateDate != ''">update_date=#{updateDate},</if>
    <if test="status != null and status != ''">status=#{status}</if>
  </sql>
  <sql id="provinceSelector">
    select
      <include refid="columns"/>
    from
      <include refid="tableName"/> AS b
  </sql>

  <sql id="provinceWhere">
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <choose>
        <when test="status != null and status !=''">
          AND status = #{status}
        </when>
        <otherwise>
          AND status != '4'
        </otherwise>
      </choose>
    </where>
  </sql>

  <sql id="provinceUpdate">
    <trim prefix="SET" suffixOverrides=",">
      <include refid="provinceIf"/>
    </trim>
  </sql>

<!-- =================================================================== -->

  <select id="load" parameterType="Province" resultType="Province">
    <include refid="provinceSelector"/>
    <include refid="provinceWhere"/>
  </select>

  <!-- 获取全部 -->
  <select id="loadAll" resultType="Province">
    <include refid="provinceSelector"/>
    <include refid="provinceWhere"/>
  </select>

  <!-- 更新 -->
  <update id="update" parameterType="Province">
    UPDATE <include refid="tableName"/>
    <include refid="provinceUpdate"/>
    <include refid="provinceWhere"/>
  </update>
  <!-- 插入 -->
  <insert id="save" parameterType="Province">
    INSERT INTO
    <include refid="tableName"/>
    (
    <include refid="insertColumns"/>
    )
    VALUES
    (
    #{id},#{name},
    #{remarks},#{createDate},#{updateDate},#{status}
    )
  </insert>

</mapper>

