<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chengzhx76.service.promotion.dao.CouponCodeDaoMapper">
  <sql id="tableName">coupon_code</sql>
  <sql id="columns">
    c.id,c.coupon_id,c.code,c.account_id,c.is_used,
    c.remarks,c.create_date,c.update_date,c.status
  </sql>
  <sql id="insertColumns">
    id,coupon_id,code,account_id,is_used,
    remarks,create_date,update_date,status
  </sql>
  <sql id="couponCodeIf">
    <if test="id != null and id != ''">id=#{id},</if>
    <if test="couponId != null and name != ''">name=#{name},</if>
    <if test="code != null and couponTypeId != ''">coupon_type_id=#{couponTypeId},</if>
    <if test="accountId != null and accountId != ''">face_value=#{faceValue},</if>
    <if test="isUsed != null and isUsed != ''">is_used=#{isUsed},</if>
    <if test="remarks != null and remarks != ''">remarks=#{remarks},</if>
    <if test="createDate != null">create_date=#{createDate},</if>
    <if test="updateDate != null">update_date=#{updateDate},</if>
    <if test="status != null">status=#{status}</if>
  </sql>
  <sql id="couponCodeSelector">
    select
      <include refid="columns"/>
    from
      <include refid="tableName"/>
    AS c
  </sql>

  <sql id="couponCodeWhere">
    <where>
      <if test="id != null and id != ''">
        id = #{id}
      </if>
      <if test="accountId != null and accountId != ''">
        AND  account_id = #{accountId}
      </if>
      <choose>
        <when test="status != null">
          AND status = #{status}
        </when>
        <otherwise>
          AND status != 'DELETE'
        </otherwise>
      </choose>
    </where>
  </sql>

  <sql id="couponCodeUpdate">
    <trim prefix="SET" suffixOverrides=",">
      <include refid="couponCodeIf"/>
    </trim>
  </sql>

<!-- =================================================================== -->

  <select id="load" parameterType="couponCode" resultType="couponCode">
    <include refid="couponCodeSelector"/>
    <include refid="couponCodeWhere"/>
  </select>

  <!-- 获取全部 -->
  <select id="loadAll" resultType="couponCode">
    <include refid="couponCodeSelector"/>
    <include refid="couponCodeWhere"/>
  </select>

  <!-- 更新 -->
  <update id="update" parameterType="couponCode">
    UPDATE <include refid="tableName"/>
    <include refid="couponCodeUpdate"/>
    <include refid="couponCodeWhere"/>
  </update>
  <!-- 插入 -->
  <insert id="save" parameterType="couponCode">
    INSERT INTO
    <include refid="tableName"/>
    (
    <include refid="insertColumns"/>
    )
    VALUES
    (
    #{id},#{couponId},#{code},#{accountId},#{isUsed},
    #{remarks},#{createDate},#{updateDate},#{status}
    )
  </insert>

</mapper>

